GARAGE_KEY_ID=GK...
GARAGE_KEY_SECRET=...
GOOGLE_GENERATIVE_AI_API_KEY=...
GEMINI_MODEL=gemini-2.5-flash
SLACK_TOKEN=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=
LANGFUSE_BASE_URL=
S3_BUCKET=workflow-secrets
